body
    background-color: #000000
#profil
    background-color: #000000
    font-family: Arial, Helvetica, sans-serif
    display: flex
    justify-content: center
    .box
        border-radius: 5px
        display: flex
        align-items: center
        flex-direction: column
        border: 2px solid #a8a6a6
        margin-bottom: 25px
        height: 400px
        .textbox
            display: flex
            margin-bottom: 25px
            justify-content: space-between
            width: 100%
            button
                border: none
                background-color: #000000
                font-size: 20px
                &:hover
                    cursor: pointer
            h1
                color: #ffffff
                font-weight: 500
                font-size: 30px
                cursor: default
                margin: 10px 0 0 5px
        #welcomeUser
            margin-bottom: 20px
            color: #ffffff
        .add
            display: flex
            margin: 0 5px 15px
            input
                border-radius: 5px
                padding: 10px
                flex: 1
                border: 2px solid #a8a6a6
                background-color: #000
                color: #ffffff
            button
                border-radius: 5px
                border: none
                background-color: #94a6e6
                color: #fff
                padding: 0 15px
                margin-left: 5px
                cursor: pointer
        #recentChats
            margin-top: 10px
            width: 100%
            height: 250px
            max-height: 250px
            overflow-y: auto
            &::-webkit-scrollbar
                display: none
            p
                font-size: 14px
                background-color: #1a1a1a
                color: #fff
                padding: 10px
                border-radius: 5px
                margin-bottom: 5px
                &:hover
                    background-color: #333
                .username
                    cursor: pointer
                .lastSeen
                    font-size: 8px
                .remove
                    margin-left: auto
                    cursor: pointer
                    color: #f70000
        .btnbox
            color: #ffffff
            margin: 10px
            .btn
                border: 1px solid #a8a6a6
                padding: 5px
                background-color: #f70000
                &:hover
                    cursor: pointer
                    background-color: #6d0404
                h3
                    &:hover
                        cursor: pointer

body.dark-mode
    background-color: #ffffff
    #profil
        background-color: #ffffff
        .box
            background-color: #ffffff
            border-color: #000000
            .textbox
                h1
                    color: #000000
            #welcomeUser
                color: #000000
            #themeToggle
                background-color: #ffffff
            .add input
                background-color: #ffffff
                border-color: #000000
            .add button
                background-color: #94a6e6
                color: #ffffff
        #recentChats p
            background-color: #f0f0f0
            color: #000000
            &:hover
                background-color: #cccccc
        .btnbox
            .btn
                border: 1px solid #000000
