#bodySetting
    background-color: #ffffff
    #setting
        display: flex
        font-family: Arial, Helvetica, sans-serif
        justify-content: center
        margin-top: 50px
        .textbox
            h1
                font-weight: 500
                font-size: 30px
                cursor: default
            #themeToggle
                margin: 5px 0 10px
        .box
            .btn
                display: flex
                justify-content: space-between
                h3
                    margin-right: 10px
                    cursor: text
